{
    "printWidth": 120,
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "proseWrap": "always",
    "overrides": [
        {
            "files": ["*.yaml", "*.json"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
